@import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Handjet', sans-serif;
}

body {
    background-color: #051218;
    color: #53f2b8; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/*-------------------------------------------------------------------------------------*/

/* Estilização páginas Login, Cadastro e Edição de perfil */

.login-page, 
.cadastro-page, 
.editar-perfil-page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
}

.container-login {
    background-color: #051218; 
    border: 3px solid #53f2b8;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    max-width: 850px;
    width: 100%;
    z-index: 2;
}

.container-cadastro, 
.container-editar-perfil {
    background-color: #051218; 
    border: 3px solid #53f2b8;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    max-width: 850px;
    width: 100%;
    z-index: 2;
}


.secao-foto {
    flex: 0 0 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-login img, 
.foto-cadastro img, 
.foto-perfil img {
    width: 100%;
    height: 340px;
    width: 280px;
    display: block;
}


.linha-divisora {
    width: 2px;
    background-color: #53f2b8;
    align-self: stretch;
}


.secao-formulario {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.secao-formulario h1 {
    font-size: 3rem;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input-segunda-linha, 
.input-terceira-linha, 
.input-quarta-linha {
    display: flex;
    gap: 15px;
}

.metade {
    flex: 1;
}

.linha-completa {
    width: 100%;
}

.campo-input-texto {
    display: flex;
    flex-direction: column;
    position: relative; 
}

.campo-input-texto label {
    font-size: 1.3rem;
    margin-bottom: 3px;
    color: #53f2b8;
}

.campo-input-texto input {
    width: 100%;
    height: 38px;
    border-radius: 12px;
    border: none;
    background-color: #dbdad5;
    padding: 0 35px 0 12px; 
    font-size: 1.1rem;
    outline: none;
    color: #000;
}

.campo-input-texto input:disabled {
    background-color: #a5a4a0; 
    cursor: not-allowed;
}

.campo-input-texto img {
    position: absolute;
    right: 10px;
    bottom: 8px;
    width: 20px;
    height: 20px;
    object-fit: contain;
    pointer-events: none;
}


button {
    background-color: #53f2b8;
    color: #000;
    border: none;
    border-radius: 12px;
    padding: 8px 35px;
    font-size: 1.8rem;
    cursor: pointer;
    align-self: flex-start;
    margin-top: 10px;
    transition: background-color 0.2s, transform 0.1s;
}

button:hover {
    background-color: #53f2b8;
}

button:active {
    transform: scale(0.97);
}


.link-cadastro {
    margin-top: 20px;
    font-size: 1.2rem;
}

.texto-vermelho-login {
    color: #ff3333;
}

.link-cadastro a {
    color: #53f2b8;
    text-decoration: none;
}

.link-cadastro a:hover {
    text-decoration: underline;
}


.login-page > img, 
.cadastro-page > img,
.editar-perfil-page > img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 220px;
    z-index: 1;
    pointer-events: none;
}

/*-------------------------------------------------------------------------------*/

/* Estilização Tela Inicial*/

.menu-page {
    background-image: url('/Whack-a-Mole/Img/Background_Tela_Principal.png');
    background-size: 72%; 
    background-position: center;
    background-repeat: no-repeat; 
    background-color: #011113; 
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


.logo-menu {
    width: 650px;
    padding: 10px;
}


.menu-botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 230px; 
}

.btn-menu {
    background-color: #051218; 
    color: #4d755c; 
    border: 5px solid #4d755c;
    border-radius: 0%;
    font-family: 'Handjet', sans-serif;
    font-weight: bold;
    font-size: 32px;
    width: 100%; 
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-left: 40px; 
    padding-right: 10px;
    gap: 12px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    margin: 0;
    white-space: nowrap; 
}

.btn-jogar {
    font-size: 62px;
    padding: 12px 15px;
    margin-bottom: 5px;
    height: 85px;
    color:#53f2b8;
    padding-left: 10px; 
    padding-right: 0px;
}

.btn-menu img {
    position: absolute;
    left: 5px;
    width: 42px;
    height: 42px;
    object-fit: contain;
}

.btn-menu:hover {
    background-color: #051218;
    border-color: #53f2b8;
    color:#53f2b8;
    box-shadow: 0 0 18px #4d755c;
    transform: scale(1.02);
}

.btn-menu:hover img[src*="Lapis"] {
    content: url('/Whack-a-Mole/Img/Lapis_Verde_Claro.png');
}

.btn-menu:hover img[src*="Trofeu"] {
    content: url('/Whack-a-Mole/Img/Trofeu_Verde_Claro.png');
}

.btn-menu:hover img[src*="Historico"] {
    content: url('/Whack-a-Mole/Img/Historico_Verde_Claro.png');
}